<mat-toolbar color="primary">
<span><a routerLink="/">MyMessages</a> </span>
<span class="spacer"></span>
   <span>
    <ul>
      <li>
        <a mat-raised-button routerLink="/create"  routerLinkActive="mat-accent">New Post</a>
      </li>
      <li>
        <a mat-raised-button routerLink="/sign_in"  routerLinkActive="mat-accent">sign_in</a>
      </li>
      <li>
        <a mat-raised-button routerLink="/sign_up"  routerLinkActive="mat-accent">sign_up</a>
      </li>
    </ul>
   </span>
  </mat-toolbar>
